<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Objetos</title>
    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link th:href="@{/estiloO.css}" rel="stylesheet" />
</head>
<body>
<br>
<h1 class="h1">Lista de Objetos</h1>
<br>
<div class="div1">
<table class="table table-hover table-dark">
    <thead>
    <tr>
        <th> ID </th>
        <th> Nombre </th>
        <th> Material </th>
        <th> Color </th>
        <th> Altura </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="objeto: ${objeto}">
        <td th:text="${objeto.objetoId}" />
        <td th:text="${objeto.getNombre()}" />
        <td th:text="${objeto.getMaterial()}" />
        <td th:text="${objeto.getColor()}" />
        <td th:text="${objeto.getAltura()}" />
    </tr>
    <a href="/objeto">Submit another message</a>
    </tbody>
</table>
</div>
</body>
</html>